@keyframes trans-x {
    from {width: 0px}
    to {width: 70%}
}
@keyframes trans-x2 {
  from {left: 7%}
  to{left: 60%}
}
@keyframes trans-y {
    from {top: -100px}
    to {top: 20px}
}
@keyframes trans-y2 {
    from {margin-top: 1000px}
    to {margin-top: 100px}
}
@keyframes opac {
    from {opacity: 0}
    to {opacity: 1}
}

body {
    background-color: white;
    font-family:'Titillium Web', sans-serif;
    color: black;
    padding: 0;
    margin: 0;
    scrollbar-width: none;
}
a {
    text-decoration: none;
    color: black;
}
h5{
  font-size: 1em;
}

#logo{
}
header {
    position: relative;
    height: 30px;
    padding: 10px;
    z-index: 50;
}
header h1 {
    color: rgba(104,128,131,1);
    font-family: 'Plaster', cursive;
    font-size: 50px;
    margin: 0;
    position: fixed;
    left: 20px;
    line-height: 50px;
}
footer{
  font-family: monospace;
  color: black;
  width: 500px;
  height: 100px;
  position: fixed;
  top: 85%;
  z-index: 2;
  left: 2%;
  animation-name: opac;
  animation-duration: 4s;

}
nav.encabezado {
    position: fixed;
    flex-direction:row;
    display:flex;
    right: 40px;
    top: 20px;
    animation-name: trans-y;
    animation-duration: 2s;
    z-index:10;
}
nav.encabezado div {
    display: inline-block;
}
nav.encabezado div:hover {
    cursor: pointer;
}
nav.encabezado div img {
    margin: 5px;
    height: 30px;
}

#buscador {
    position: fixed;
    top: 60px;
    left: 20px;
    z-index: 50;
}
#buscador input.buscar {
    font-family: monospace;
    background: rgba(255, 255, 255, 0.5);
    height: 60px;
    width:70%;
    margin-left: 0;
    /* max-width: 300px;
    min-width: 250px */
    padding: 5px;
    box-sizing: border-box;
    border: none;
    border-left: solid black 3px;
    border-right: solid black 3px;
    outline: none;
    font-size: 30px;
    border-radius: 0;
    caret-color: black;
    animation-name: trans-x;
    animation-duration: 1s;
}
#buscador input::placeholder {
    color: black;
    opacity: 0.6;
}
#buscador nav.filtros {
    margin-left: 10px;
    font-size: 25px;
    animation-name: opac;
    animation-duration: 4s;
}
#buscador nav.filtros img{
    position: relative;
    bottom: -2px;
    height: 20px;
}

section.mapa {
    position: fixed;
    top: 0;
    background-image: url("../img/map.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 100vh;
    z-index: 0;
    animation-name: opac;
    animation-duration: 2s;
}

.columna-derecha{
  position:fixed;
  right:0;
  top:0;
  height:100vh;
  width:50%;
  max-width:382px;
  min-width:280px;
  padding-top: 50px;
  overflow-x:hidden;
}

.columna-izquierda{
  position:absolute;
  left:0;
  top:0;
  /* height:100vh; */
  width:50%;
  min-width:280px;
  padding-top: 110px;
  overflow-x:hidden;
}

.columna-derecha h2{
  margin:20px;
}
#seccionPrincipalArticulos {
    animation-name: trans-y2;
    animation-duration: 2s;
}
.pestana {
    background-color: rgba(255,255,255,0.8);
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px;
    text-align: right;
    margin-bottom: 3px;
}
#seccionPrincipalArticulos {
    position: relative;
    margin-top:200px;
    animation-name: trans-y2;
    animation-duration: 2s;
    z-index: 10;
}
.pestana {
    background-color: rgba(255,255,255,0.8);
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px;
    text-align: right;
    margin-bottom: 3px;
}
.articulosPrincipales {
    position: relative;
    width: 100%;
    height: 200px;
    margin-bottom: 3px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: 25;
}
.articulosPrincipales .favorito {
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0;
    height: 30px;
    transition: opacity 0.5s;
    z-index: 40;
}
.articulosPrincipales .flecha {
    position: absolute;
    z-index: 35;
    top: 45%;
    height: 40px;
    opacity: 0;
}
.articulosPrincipales .flechaIzq {
    left: 0px;
    transform: rotate(180deg);
}
.articulosPrincipales .flechaDer {
    right: 0px;
}
.articulosPrincipales p {
    box-sizing: border-box;
    position: absolute;
    padding: 10px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.75);
}
.infoPrevia {
    position: relative;
    z-index: 30;
    display: none;
    transition: right 0.5s;
    width: 30%;
    height: 100%;
    right: -100%;
}
.articulosPrincipales:hover > p.infoPrevia {
    right: 0;
}
.infoCompleta {
    width: 100%;
    opacity: 0;
    bottom: 0;
}
#dept1 {
    background-image: url("../img/dept1.jpg");
}
#dept2 {
    background-image: url("../img/dept2.jpg");
}
#dept3 {
    background-image: url("../img/dept3.jpg");
}
#dept4 {
    background-image: url("../img/dept4.jpg");
}
#dept5 {
    background-image: url("../img/dept5.jpg");
}

#btn_retorno {
    position: absolute;
    top: 20px;
    left: 13px;
}
#btn_retorno img{
  height: 35px;
}
.retorno:hover {
  cursor: pointer;
}

#panelFavoritos {
    background:rgba(179,181,167,1);
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.articulosFavoritos {
    display: inline-block;
    width: 31%;
    height:209px;
    background-size: cover;
    background-position: center;
    margin: 1% 1%;
    border-radius: 50%;
    transition: opacity 0.5s;
}

#panelLogin{
  background: rgba(149,143,121,1);
  padding-left:10px;
}
#panelLogin .social{
  width: 50px;
  margin: 0 10px;
}

#formRegistro{
  text-align: center;
}
#formRegistro input{
  width: 100%;
  left: 10px;
  margin-bottom:5px;
  font-family: 'Titillium web', cursive;
  color: black;
}
#formRegistro button{
  width: 50%;
  font-family: 'Titillium web', cursive;
  color: gray;
  bottom: 10px;
}
#formLogin{
  text-align: left;
}
#formLogin input{
  width: 100%;
  left: 10px;
  margin-bottom:5px;
  font-family: 'Titillium web', cursive;
  color: black;
}
#formLogin button{
  width: 50%;
  font-family: 'Titillium web', cursive;
  color: gray;
  bottom: 10px;
}
#formLogin .checkbox{
  width:revert;
}
.formRecordar {
  position: relative;
  width: 50%;
}
 input,select {
    color: black;
    height: 30px;
    width:400px;
    display: block;
    /* margin: auto; */
    margin-bottom: 20px;
    background: none;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    border-radius: 0;
    padding: 0;
    font-size: 15px;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}
form select {
    color: grey;
}

.aceptar {
    text-align: left;
    border: none;
    font-size: 20px;
    color:black;
}

#panelInfo{
  background: rgba(241,183,133,1);
  overflow: auto;
}

#preguntasFrecuentes input{
  width:90%;
  font-family: 'Titillium web', cursive;
  color: gray;
}
#formInfo{
  width: 100%;
  text-align: center;
}
#formInfo input{
  position: relative;
  width: 90%;
  margin-top: 20px;
}
#formInfo textarea{
    background: none;
    width: 100%;
    border: 1px solid grey;
    outline: none;
    margin-top:10px;
}
#formInfo button{
  width: 50%;
  font-family: 'Titillium web', cursive;
  color: gray;
}
.etiquetasVerticales{
  position: absolute;
  z-index: 2;
  background: rgba(255,255,255,0.5);
  color: #688083;
}

@media (max-width:768px){
  nav.encabezado{
    flex-direction: column;
  }
  #btn_retorno{
    position: fixed;
    top: 133px;
    left: 13px;
    z-index:30;
  }
  .columna-derecha{
    position:absolute;
    left:0;
    top:0;
    height:100vh;
    width:100%;
    padding-top:110px;
    max-width: revert;
  }

  .columna-derecha h2{
    padding-left:30px;
  }

  .columna-izquierda{
    position:absolute;
    left:0;
    top:0;
    height:100vh;
    width:100%;
    max-width: revert;
  }
  footer{
    display:none;
  }
}

@media (min-width: 768px) {

    /* .seccionPrincipalArticulos {
        width: 50%;
    }
    .articulosPrincipales p {
        display: block;
    }

    .panelLogin {
        width: 28%;
        padding-top: 50px;
    }
    #panelFavoritos {
        width: 28%;
        padding-top: 80px;
    }
    .panelInfo{
        width: 28%;
        padding-top: 0px;
    } */
    .seccionPrincipalArticulos {
        width: 50%;
    }
    .articulosPrincipales .favorito:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
    .articulosPrincipales p {
        display: block;
    }
    .articulosPrincipales:hover {
        cursor: pointer;
    }
    .articulosPrincipales .flecha:hover {
        cursor: pointer;
    }
}
