@keyframes trans-x {
    from {width: 0px}
    to {width: 300px}
}
@keyframes trans-x2 {
  from {left: 7%}
  to{left: 60%}
}
@keyframes trans-y {
    from {top: -100px}
    to {top: 20px}
}
@keyframes trans-y2 {
    from {margin-top: 1000px}
    to {margin-top: 150px}
}
@keyframes opac {
    from {opacity: 0}
    to {opacity: 1}
}


body {
    background-color: white;
    font-family:'Titillium Web', sans-serif;
    color: black;
    padding: 0;
    margin: 0;
    scrollbar-width: none;
}
a {
    text-decoration: none;
    color: black;
}

header {
    position: fixed;
    height: 30px;
    padding: 10px;
    z-index: 10000;
}
header h1 {
    color: rgba(104,128,131,1);
    font-family: 'Plaster', cursive;
    font-size: 50px;
    margin: 0;
    position: fixed;
    top: 10px;
    left: 20px;
    line-height: 50px;
    z-index: 10000;
}
footer{
  font-family: monospace;
  color: black;
  width: 500px;
  height: 100px;
  position: fixed;
  top: 85%;
  z-index: 11;
  left: 2%;
  animation-name: opac;
  animation-duration: 4s;

}
nav.encabezado {
    position: fixed;
    right: 20px;
    top: 20px;
    animation-name: trans-y;
    animation-duration: 2s;
}
nav.encabezado div {
    display: inline-block;
}
nav.encabezado div:hover {
    cursor: pointer;
}
nav.encabezado div img {
    margin-left: 10px;
    height: 30px;
}

form#formBuscar {
    position: fixed;
    top: 60px;
    left: 20px;
    z-index: 10000;
}
form input.buscar {
    font-family: monospace;
    background: rgba(255, 255, 255, 0.5);
    height: 60px;
    width: 300px;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    border-left: solid black 3px;
    border-right: solid black 3px;
    outline: none;
    font-size: 30px;
    border-radius: 0;
    caret-color: black;
    animation-name: trans-x;
    animation-duration: 1s;
}
input::placeholder {
    color: black;
    opacity: 0.6;
}
nav.filtros {
    margin-left: 10px;
    font-size: 25px;
    display: none;
    animation-name: opac;
    animation-duration: 4s;
}
nav.filtros img{
    position: relative;
    bottom: -2px;
    height: 20px;
}

section.mapa {
    position: fixed;
    top: 0;
    background-image: url("img/map.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 100vh;
    z-index: -1;
    animation-name: opac;
    animation-duration: 2s;
}

.seccionPrincipalArticulos {
    display: none;
    position: relative;
    margin-top: 150px;
    animation-name: trans-y2;
    animation-duration: 2s;
    z-index: 20;
}
.pestana {
    background-color: rgba(255,255,255,0.8);
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px;
    text-align: right;
    margin-bottom: 3px;
}
.articulosPrincipales {
    position: relative;
    width: 100%;
    height: 200px;
    margin-bottom: 3px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: 25;
}
.articulosPrincipales .favorito {
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0;
    height: 30px;
}
.articulosPrincipales .flecha {
    position: absolute;
    z-index: 35;
    top: 45%;
    height: 40px;
    opacity: 0;
}
.articulosPrincipales .flecha:hover {
    cursor: pointer;
}
.articulosPrincipales .flechaIzq {
    left: 0px;
    transform: rotate(180deg);
}
.articulosPrincipales .flechaDer {
    right: 0px;
}
.articulosPrincipales p {
    box-sizing: border-box;
    position: absolute;
    padding: 10px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.75);
}
.infoPrevia {
    position: relative;
    z-index: 30;
    display: none;
    transition: right 0.5s;
    width: 30%;
    height: 100%;
    right: -100%;
}
.articulosPrincipales:hover {
    cursor: pointer;
}
.articulosPrincipales:hover > p.infoPrevia {
    right: 0;
}
.infoCompleta {
    width: 100%;
    opacity: 0;
    bottom: 0;
}
#dept1 {
    background-image: url("img/dept1.jpg");
}
#dept2 {
    background-image: url("img/dept2.jpg");
}
#dept3 {
    background-image: url("img/dept3.jpg");
}
#dept4 {
    background-image: url("img/dept4.jpg");
}
#dept5 {
    background-image: url("img/dept5.jpg");
}

.retorno {
    height: 40px;
    position: fixed;
    top: 15px;
    left: 100%;
}
.retorno:hover {
    cursor: pointer;
    opacity: 0.5;
}

.panelFavoritos {
    position: fixed;
    z-index: 61;
    right: -500px;
    top: 0;
    height: 100vh;
    width: 100%;
    background:rgba(179,181,167,1);
    overflow: auto;
    padding-top: 150px;
}

.articulosFavoritos {
    display: inline-block;
    width: 48%;
    height: 150px;
    background-size: cover;
    background-position: center;
    margin-bottom: 3px;
}

.panelLogin{
  position: fixed;
  z-index: 60;
  right: -500px;
  top: 0;
  height: 100vh;
  width: 100%;
  background: rgba(149,143,121,1);
  overflow: auto;
  padding-top: 110px;
}
.panelLogin .social{
  position: relative;
  width: 200px;
  left: 90px;
}

.formLogin{
  position: relative;
  left: 10px;
  width: 360px;
  background: rgba(255,255,255,0.5);
  z-index: 500;
}
.formLogin input{
  position: relative;
  width: 90%;
  left: 10px;
  font-family: 'Titillium web', cursive;
  color: gray;
}
.formLogin button{
  position: relative;
  width: 50%;
  left: 25%;
  font-family: 'Titillium web', cursive;
  color: gray;
  bottom: 10px;
}
.formRecordar {
  position: relative;
  width: 50%;
}

.panelInfo{
  position: fixed;
  z-index: 62;
  right: -500px;
  top: 0;
  height: 100vh;
  width: 100%;
  background: rgba(241,183,133,1);
  overflow: auto;
  padding-top: 60px;
}

.panelInfo div.preguntasFrecuentes{
  position: relative;
  width: 85%;
  left: 20px;
}
input#search{
  position: relative;
  top: -20px;
  font-family: 'Titillium web', cursive;
  color: gray;
}
.formInfo{
  position: relative;
  left: 10px;
  width: 100%;
  background: rgba(255,255,255,0.5);
  z-index: 500;
}
.formInfo input{
  position: relative;
  width: 90%;
  left: 10px;
  font-family: 'Titillium web', cursive;
  color: gray;
}
.formInfo textarea{
  position: relative;
  width: 90%;
  left: 10px;
  font-family: 'Titillium web', cursive;
  color: gray;}

.formInfo button{
  position: relative;
  width: 50%;
  left: 25%;
  font-family: 'Titillium web', cursive;
  color: gray;
  bottom: 10px;
}
.etiquetasVerticales{
  position: absolute;
  z-index: 1000;
  background: rgba(255,255,255,0.5);
  color: #688083;
}
section.agregarDepto {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(255,255,255,0.5);
    z-index: -10;
    opacity: 0;
}
section.agregarDepto h1 {
    margin-left: 50px;
    font-size: 25px;
}
section.formularioAgregar {
    margin: auto;
    width: 500px;
    height: 100vh;
    background-color: rgba(255,255,255,0.8);
    padding-top: 20px;
}
section.formularioAgregar img {
    height: 25px;
    float: right;
    margin-right: 20px;
}
section.formularioAgregar .cerrar:hover {
    cursor: pointer;
    opacity: 0.5;
}
section.formularioAgregar form input,select {
    color: grey;
    width: 400px;
    height: 30px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    background: none;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    border-radius: 0;
    padding: 0;
    font-size: 15px;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}
section.formularioAgregar form .agregar {
    text-align: left;
    border: none;
    font-size: 20px;
}
section.formularioAgregar form .agregar:hover {
    cursor: pointer;
    color: black;
}

@media (min-width: 700px) {

    .seccionPrincipalArticulos {
        width: 50%;
    }
    .articulosPrincipales p {
        display: block;
    }

    .panelLogin {
        width: 28%;
        padding-top: 50px;
    }
    .panelFavoritos {
        width: 28%;
        padding-top: 80px;
    }
    .panelInfo{
        width: 28%;
        padding-top: 0px;
    }

}
