body {
    background-color: white;
    color: black;
}
a {
    color: black;
}
form input,select {
    color: black;
}
footer{
  color: black;
}
form input.buscar {
    background: rgba(255, 255, 255, 0.5);
    border-left: solid black 3px;
    border-right: solid black 3px;
    caret-color: black;
}
input::placeholder {
    color: black;
}
textarea {
    color: black;
}
textarea::placeholder {
    color: black;
}
main.mapa {
    background-image: url("/img/map.jpeg");
}

.pestana {
    background-color: rgba(255,255,255,0.8);
}
.articulosPrincipales p {
    background-color: rgba(255, 255, 255, 0.75);
}
.panelFavoritos {
    background:rgba(179,181,167,1);
}
.infoFavoritos {
    background-color: rgba(255, 255, 255, 0.75);
}
.panelLogin{
  background: rgba(149,143,121,1);
}
.panelInfo{
  background: rgba(241,183,133,1);
}
section.agregarDepto {
    background-color: rgba(255,255,255,0.5);
}
section.formularioAgregar {
    background-color: rgba(255,255,255,0.8);
}

@media (min-width: 700px) {

    a:hover {
        color: red;
    }
    .aceptar:hover {
        color: red;
    }
    .pestana:hover {
        background-color: white;
    }
    .panelInfo .conectarse:hover {
        color: red;
    }
    label.file:hover {
        color: red;
    }
    .panel .alertaContrasena {
        color: red;
    }
    .panelLogin .olvide:hover {
        color: red;
    }
}
